body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: url(https://cdn.pixabay.com/photo/2021/07/19/15/47/lily-6478427_960_720.jpg);
    background-size: cover;
    box-sizing: content-box;
}

#calculator {
    --calculator-width: 400px;

    margin: auto;
    margin-top: 8vh;
    max-width: var(--calculator-width);

    background-color: rgba(20, 20, 40, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    
    padding: 1%;
    padding-top: 2%;
}

.calc-screen {
    margin: auto;

    border-radius: inherit;

    text-align: right;
    padding-right: 1vw;
}
.calc-input {
    color: rgb(100, 100, 100);
    font-size: 2em;
    height: 1.1em;
}
.calc-output {
    font-size: 4.5em;
}

.button-container {
    margin-top: calc(var(--calculator-height)/16);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    gap: 5px;
}
.calc-button {    
    min-height: calc(var(--calculator-width) / 5);
    
    box-shadow: 3px 3px 3px rgba(15, 15, 15, 0.08);
    border-radius: 5px;

    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;

    cursor: pointer;
    user-select: none;
}
.calc-button:hover {
    background-color: rgba(150, 150, 150, 0.6);
}
.calc-button:active {
    background-color: rgba(80, 100, 150, 0.6);
}
#button-0 {
    grid-column: 1 / 3;
}